.Engine {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image:url('../assets/enginebg.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed; 

    font-family: 'Press Start 2P', cursive; 
}


.EngineContainer {
    height: 100%;
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-top: 9vh;
    text-align: center;
}


.EngineTitle {
    font-size: 35px;
    background: linear-gradient(to bottom, #cfc09f 22%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#5b4210 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5vh;
}

.EngineProcessing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.EngineRobot {
    padding: 0px;
    flex: 1;
}

.EngineRobotImage {
    width: 80%;
    margin-left: 100px;
    margin-top: 50px;
}

.EngineTextBox {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    padding-top: 30px;
}

.EngineText {
    flex: auto;
    background-color: rgba(255, 0, 212, 0.5);
    border-style: solid;
    border-color: rgb(0, 238, 255);
    width: 80%;
    padding-top: 20px;
    margin-right: 150px;
}