.Engine {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image:url('../assets/enginebg.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed; 

    font-family: 'Press Start 2P', cursive; 
}


.EngineContainer {
    height: 100%;
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-top: 9vh;
    text-align: center;
    align-items: center;
}


.EngineTitle {
    margin-bottom: 60px;
    width: fit-content;
}


.rainbow {
    padding-top: 10px;
    text-align: center;
    font-size: 100px;
}


.rainbow_text_animated {
    background: linear-gradient(to right, rgb(255, 0, 212), rgb(0, 238, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 2s ease-in-out infinite;
    background-size: 400% 100%;
}


@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}


.EngineProcessing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.EngineRobot {
    padding: 0px;
    flex: 1;
    margin-left: 150px;
}


.EngineRobotImage {
    width: 80%;
    margin-left: 100px;
    margin-top: 50px;
}


.EngineTextBox {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    padding-top: 30px;
    margin-top: 60px;
}


.EngineText {
    flex: auto;
    background-color: rgb(255, 0, 212);
    border-style: solid;
    border-color: rgb(0, 238, 255);
    border-width: 2px;
    border-radius: 40px;
    width: 60%;
    padding-top: 20px;
    margin-right: 50%;
}