.Engine {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image:url('../assets/enginebg.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed; 

    font-family: 'Press Start 2P', cursive; 
}


.EngineContainer {
    height: 100%;
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-top: 9vh;
    text-align: center;
    align-items: center;
}


.EngineTitle {
    margin-bottom: 60px;
    width: fit-content;
}


.rainbow {
    padding-top: 10px;

    text-align: center;
    
    font-size: 100px;
}


.rainbow_text_animated {
    background: linear-gradient(to right, rgb(255, 0, 212), rgb(0, 238, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 2s ease-in-out infinite;
    background-size: 400% 100%;
}


@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}


.EngineProcessing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.EngineRobot {
    padding: 0px;
    
    flex: 1;

    margin-left: 150px;
}


.EngineRobotImage {
    width: 500px;  
    
    margin-left: 100px;
    margin-top: 50px;
}


.EngineTextBox {
    flex: 1.5;
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 80px;
}


.EngineText {
    width: 60%;
    height: fit-content;

    line-height: 35px;

    display: inline-block;
    position: relative;

    font-size: 30px;
    font-weight: bolder;

    background-color: rgb(255, 0, 212);
    
    border-style: solid;
    border-color: rgb(0, 238, 255);
    border-width: 3px;
    border-radius: 20px;
    
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 50%;
}


.EngineButtons {
    width: 60%;

    margin-top: 15vh;
    margin-right: 50%;

    display: flex;
    flex-direction: row;
    
    font-size: 60px;
    color: rgb(0, 238, 255);
}


.tri-right.border.left-in:before {
	width: 0;
	height: 0;
	position: absolute;
    
	content: ' ';

    left: -40px;
	right: auto;
    top: 30px;
	bottom: auto;

	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}


.tri-right.left-in:after{
	width: 0;
	height: 0;
	position: absolute;

	content: ' ';

    left: -25px;
	right: auto;
    top: 38px;

	bottom: auto;

	border: 12px solid;
	border-color: rgb(0, 238, 255) rgb(0, 238, 255) transparent transparent;
}

.EngineOutput {
    height: 50%;

    display: flex;
    flex-direction: column;
    flex: 1.5;
    padding: 20px;
    margin-right: 250px;

    margin-top: 80px;
    
    align-items: center;
    text-align: center;

    background: rgb(0, 0, 0, .7);

    overflow-y: auto;
    overflow-x: hidden;
}


.EngineOutputTitle {
    color: rgb(255, 0, 212);
    position: relative;
    padding: 0px;
}

.EngineOutputGames {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}