.About {
    height: 100vh;
    display: flex;
    font-family: 'Press Start 2P', cursive; 
    font-size: 30px; 
    background-image: url('../assets/aboutbg.gif');
    background-size: 100%;
    background-repeat: repeat; 
    background-attachment: fixed; 
    line-height: 40px;
    animation: AboutSlide 1000s linear infinite;
}

@keyframes AboutSlide {
    from {
      background-position: 0 0;
  }
  to {
      background-position: -10000px 0;
  }
}

.TextContainer {
    color: rgb(255, 0, 212);
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}


.AboutTitle {
    margin-bottom: 5vh;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 8px 8px rgb(255, 0, 212) inset;
}


.Paragraph {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background: rgb(0, 0, 0, .7);
    box-shadow: 0 0 8px 8px rgb(255, 0, 212) inset;
    width: 50%;
    height: 50vh;
    text-align: center;
}


