.About {
    height: 100vh;
    display: flex;
    font-family: 'Cinzel', serif;
    font-size: 30px; 
    color: white;
    background-image: url('../assets/aboutbg.gif');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed; 
}

/* .About {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    font-family: 'Cinzel', serif;
    font-size: 30px; 
    color: white;
    background-image: url('../assets/aboutbg.gif');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: animatedBackground 1000s linear infinite;
}
  
@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
    /* to {
      background-position: -10000px 0;
    }
} */

.TextContainer {
    color: rgb(255, 255, 255);
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}


.AboutTitle {
    margin-bottom: 5vh;
    padding: 20px;
    background: rgba(0, 0, 0, 0.575);
    box-shadow: 0 0 8px 8px rgb(255, 255, 255) inset;
}


.Paragraph {
    padding: 20px;
    background: rgba(0, 0, 0, 0.575);
    box-shadow: 0 0 8px 8px white inset;
    width: 50%;
    text-align: center;
}


