.About {
    height: 100vh;
    display: flex;
    
    background-image: url('../assets/aboutbg.gif');
    background-size: 100%;
    background-repeat: repeat; 
    background-attachment: fixed; 

    animation: AboutSlide 1000s linear infinite;

    font-family: 'Press Start 2P', cursive; 
}

@keyframes AboutSlide {
    from {
      background-position: 0 0;
  }
  to {
      background-position: -10000px 0;
  }
}

.TextContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 5vh;

    line-height: 40px;
    align-items: center;

    color: rgb(255, 0, 212);
}


.AboutTitle {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 8px 8px rgb(255, 0, 212) inset;

    margin-bottom: 5vh;
    padding: 30px;

    font-size: 26px;
}


.Paragraph {
    width: 70%;
    height: 70vh;
    text-align: center;

    background: rgb(0, 0, 0, .7);
    box-shadow: 0 0 8px 8px rgb(255, 0, 212) inset;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 20px;
}

.AboutHeaders {
    font-size: 30px;

    color: rgb(0, 238, 255);
}

.ParagraphText {
    font-size: 20px;

    margin-bottom: 60px;
}

