.Engine {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image:url('../assets/enginebg.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed; 

    font-family: 'Press Start 2P', cursive; 
}


.EngineContainer {
    height: 100%;
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-top: 14vh;
    text-align: center;
}


.EngineTitle {
    font-size: 35px;
    background: linear-gradient(to bottom, #cfc09f 22%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12vh;
}

.EngineProcessing {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.EngineRobot {
    padding: 0px;
    flex: 1;
    background-image:url('../assets/EngineRobot.gif');
    background-size: 350px;
    background-repeat: no-repeat;
    /* background-color: red; */
}

.EngineText {
    flex: 2;
    background-color: green;
}