@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Dosis&family=Exo+2:wght@100&family=Press+Start+2P&display=swap');
/* 
font-family: 'Cinzel', serif;
font-family: 'Dosis', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Press Start 2P', cursive;
 */

 h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: inside;
}